$cloud: #C8DAE6;
$sun: #FFCD41;
$rain: #2092A9;
$bodyColor: #e3ebf780;
$white: white;
$cardCover: rgba(0,0,0,0.8);
$seaweed: seaweed;
$skyblue: skyblue;
$red: red;
$perfectTagColor: #307330ad;
$gray: gray;
